
.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container .main-container{
    width: 500px;
    min-height: 3vh;
    max-height: 100vh;
    border: 2px solid blueviolet;
    padding: 20px;
    border-radius: 5px;
}

.container .main-container .contentOne h1{
text-align: center;
font-family: 'Permanent Marker', cursive;
font-family: 'Poppins', sans-serif;
font-weight: 800;
}
.container .main-container #userInput{
    width: 400px;
    height: 4vh;
    border-radius: 5px;
    text-align: right;
    font-weight: 900;
    font-family: 'Poppins', sans-serif;
}
.container .main-container button{
background-color: transparent;
font-family: 'Roboto', sans-serif;
border: none;
padding: 20px;
color: red;
width: 30px;
}
.container .main-container button:hover{
    color: blue;
}
li{
    list-style-type: none;
    text-decoration: none;
    padding: 10px;
    font-family: 'Poppins', sans-serif;
}
