.container {
  max-width: calc(1250px + 30px);
  padding:0px 15px;
  margin: 0 auto;
  width: 100%;
  font-family: 'Permanent Marker', cursive;
  position: relative;
}
.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;

}


ul {
  list-style: none;
}
.pen {
  background-color: transparent;
  border: none;
  position: absolute;
  right: 0;
  top: 12px;
}
/* #weatherList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 20px;
  gap: 10px;
  background-image: url(/image/sun.jpg);
  background-position: center;
  object-fit: cover;
  border-radius: 50px;
  font-weight: 800;
}
.weatherLi {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 20px;
  gap: 10px;
} */
/* .myList {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: aquamarine;
  color: white;
  padding: 0px 15px;
  margin: 0 auto;
  height: 32px;
  color: black;
  border-radius: 12px;
} */
.form {
  display: flex;
  justify-content: space-between;
  position: relative;
}
input{
  height: 40px;
}
li {
  list-style: none;

}

.deleteButton{
  background-color: transparent;
   border-radius: 9px;
}
.deleteButton::after{
  content: 'Delete'; 
}
.deleteButton:hover{
  background-color: black;
  color: white;
}
#myUnorderdList{

display: grid;
grid-template-columns: repeat(3,1fr);
gap: 10px;
}

.list{
  border: 1px solid black;
padding: 22px;
border-radius: 9px;
display: flex;
justify-content: space-between;
align-items: center;
gap: 22px;
max-width: 500px;
}

input{
  width: 400px;
  position: relative;
}
@media only screen and (max-width: 600px) {
  input{
    width: auto;
    border-radius: 12px;
  }
  #myUnorderdList{
    display: grid;
    grid-template-columns: repeat(1,1fr);
  }
  .list{
    padding: 12px;
    max-width: 300px;
    width: 250px;
    gap: 0px;
    flex-direction: column;
  }
}