body{
  background-image: url(../image/bg.jpg);
  background-position: center;
  object-fit: cover;
  background-size: cover;
}
.container {
  max-width: calc(1250px + 30px);
  padding:0px 15px;
  margin: 0 auto;
  width: 100%;
  font-family: 'Permanent Marker', cursive;
  position: relative;
}
.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;

}


ul {
  list-style: none;
}
.pen {
  background-color: orangered;
  border: none;
  position: absolute;
  right: 0;
  height: 45px;
  width: 40px;
  padding: 4px;
  color: white;
}

.form {
  display: flex;
  justify-content: space-between;
  position: relative;
}
input{
  height: 40px;
}
li {
  list-style: none;

}

.deleteButton{
 
  background-color: transparent;
  position: absolute;
  top: 0px;
  border: none;
  right: 0;
}
.editButton{
    padding: 8px;
    border-radius: 9px;
    background-color: transparent;
}
.deleteButton:hover{
  background-color: black;
  color: white;
}
#myUnorderdList{

display: grid;
grid-template-columns: repeat(3,1fr);
gap: 10px;
}

.list{
  border: 1px solid black;
padding: 22px;
border-radius: 9px;
display: flex;
justify-content: space-between;
align-items: center;
gap: 22px;
max-width: 500px;
background: rgba(255, 255, 255, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
}

input{
  width: 400px;
  background: rgba(255, 255, 255, 0.2);
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
}
@media only screen and (max-width: 600px) {
  input{
    width: auto;
    border-radius: 12px;
  }
  #myUnorderdList{
    display: grid;
    grid-template-columns: repeat(1,1fr);
  }
  .list{
    padding: 12px;
    max-width: 300px;
    width: 250px;
    gap: 0px;
    flex-direction: column;
  }
}


.parentButton{
  display: flex;
  flex-direction: column;
  gap:4px;
}
.parentDiv{
  display: flex;
  flex-direction: column;
}